body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* margin: 0; */
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0; */
    background-color: #f0f0f0;
    overflow-x: hidden;
    height: 100%;
}

header {
    position: relative;
}

img {
    width: 100%;
    max-width: 100%;
    height: 50%;
    background-size: cover;
}

/* Set the background image */
.background-image {
    background-image: url('/static/imgs/bannerimage.jpg');
    background-size: cover;
    /* Adjust the background size to your needs */
    background-position: center;
    /* Adjust the background position to your needs */
    height: 88vh;
    /* Set the height of the background */
    position: relative;
    opacity: 80%;
    z-index: 1;
}

/* Style the content on top of the background */
.background-image .content {
    position: absolute;
    transform: translate(-50%, -50%);
    /* Center the image */
    top: 76%;
    /* Adjust the vertical position */
    left: 64%;
    /* Adjust the horizontal position */
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Place the content above the image */
    color: 000;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Copperplate Gothic Light';
    text-shadow: #c08261;
    z-index: 1;
    color: #fff;
}

.coffeeshop {
    font-size: 40px;
    left: 74%;
}


button#scrollButton {
    background: linear-gradient(#65351f, #c08261);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 750px;
    /* Add space between content and button */
    margin-left: 830px;
    position: absolute;
    z-index: 2;
    font-size: 20px;
}

button#scrollButton:hover {
    color: black;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: self-start;
    height: 100%;
}

/* Style each circular image and its name */
.image {
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: auto;
    margin-right: 50px;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.image p {
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}

button#scrollUpBtn {
    background: linear-gradient(#65351f, #c08261);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 100px;
    /* Add space between content and button */
    margin-left: 830px;
    position: absolute;
    z-index: 2;
    font-size: 20px;
}

button#scrollUpBtn:hover {
    color: black;
}

.image-container2 {
    display: flex;
    flex-direction: column;
    margin-right: 690px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: self-start;
    height: 100%;
}

.image-container3 {
    display: flex;
    flex-direction: column;
    margin-right: 690px;
    justify-content: start;
    align-items: self-start;
    height: 100%;
}

.login-button {
    border-radius: 10px;
    max-width: 200px;
    color: white;
    background: linear-gradient(#65351f, #c08261);
    margin-left: -1060px;
    font-size: xx-large;
    z-index: 1;
    margin-top: 470px;
}

.login-button:hover {
    color: #000;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px #ff5100;
}

.close {
    color: #000000;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

form {
    text-align: left;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: c08261;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #65351f;
}

#forgotPassword {
    box-sizing: content-box;
    background-color: #c08261;
    color: #000;
}

#signin {
    box-sizing: content-box;
    background-color: #c08261;
    color: #000;
}


/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.best-seller-box {
    background: black;
    padding-left: 100px;
    padding-bottom: 150px;
    padding-top: 20px;
}

h2 {
    text-align: left;
    font-size: 60px;
    padding-left: 70px;
    color: rgb(196, 196, 196);
    font-family: 'Centaur';
}

.product {
    max-width: 400px;
    margin: 10px;
    background-color: #cccccc;
    border: 1px solid #555555;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 100px rgba(248, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    float: left;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 30px;
}

.product img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}


.product p {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Bahnschrift';
}

.product-price {
    padding: 0px 0px 0px 0px;
}

.ATC {
    font-family: 'Bahnschrift';
    margin-top: 70px;
    z-index: 0;
    padding: 10px 20px;
    background-color: #4A4949;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.3s;
    /* Add transition to box shadow */
}

/* Hover effect with box shadow */
.ATC:hover {
    background-color: #555353;
    box-shadow: 0px 5px 20px 0px #555353;
    /* Customize the box shadow here */
}

.Explore {
    text-align: center;
}

.Explore button {
    margin-top: 40px;
    margin-right: 110px;
    padding: 10px 20px;
    font-size: xx-large;
    font-family: 'Bahnschrift';
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-right: 100px;
    font-family: 'Centaur';
    color: rgb(0, 0, 0);
}

.Aboutus{
    background-image: url(/static/imgs/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    padding-bottom: 500px;
}

h1{
    padding-top: 50px;
    color: white;
}