<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/nav.css">
</head>
<body>
    <div class="navbar">
        <div class="company-info">
            <img src="/logo-removebg-preview.png" alt="Company Logo" class="logo">
        </div>
        <p class="company-name">~Brew House~</p>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>  
            <div>
                <li class="search-bar-container">
                    <input type="text" class="search-input" placeholder="Search something special...">
                </li>
                <img src="/magnifying-glass-solid (1).png   " alt="Search" class="search-icon">
            </div>
        </ul>
    </div>
</body>
</html>